extends layout

block content
    h1 YOU REACHED NEWSAPI FUCK YEAH
    each article in articles
      h1=article.title
      h3 Author: !{article.author}
      h4=article.description
      a(href=article.url)=article.url
      img(src=article.urlToImage alt='' height="100" width="100")
      h4 Published at: !{article.publishedAt}
